annotated_types==0.7.0
bitsandbytes==0.45.5
cffi==1.17.1
docstring_parser==0.16
GitPython==3.1.44
huggingface_hub==0.23.5
instructor==1.8.2
matplotlib==3.10.3
numpy==2.2.5
openai==1.78.1
packaging==25.0
pandas==2.2.3
peft==0.15.2
pydantic==2.11.4
PySide6==6.9.0
pytest==8.3.5
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.5.3
seaborn==0.13.2
sentencepiece==0.2.0
tabulate==0.9.0
torch==2.6.0+cu121
tqdm==4.67.1
transformers==4.46.3
trl==0.15.2
typer==0.15.4
typing_extensions==4.13.2
unsloth_zoo==2025.5.5
vllm==0.8.5.post1
wget==3.2
